* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*** COLORS ***/
:root {
  --d_grey: #3b3939;
  --l_grey: #726c69;
  --beige: #e6dfcf;
  --l_beige: #e6dfcf4a;
  --blue: #6294f1;
  --yellow: #f9f33d;
}

/*** FONTS ***/
h1 {
  font-family: "Braah One", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--d_grey);
  font-size: 400%;
}
h2 {
  font-family: "Sulphur Point", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 220%;
  margin-top: 10vh;
}
p {
  font-family: "Sulphur Point", serif;
  font-weight: 300;
  font-style: normal;
  color: var(--d_grey);
  font-size: 150%;
}

header {
  background-color: var(--beige);
  padding: 2vh;
}

h1 a {
  text-decoration: none;
  color: var(--d_grey);
}

main {
  padding: 2vh;
}

/*** CATEGORIES ***/
.set_3x3 {
  display: grid;
  margin: 5vh;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

/** BOXES **/
.clc a {
  text-decoration: none;
}

.clc {
  background-color: var(--blue);
  padding: 1rem;
  gap: 1rem;
}

.clc:hover {
  background-color: var(--beige);
  border-radius: 7rem;
  transition: 0.8s ease;

  animation-name: zoom_in_kf;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; /*keeps the animation in its final state/form*/
}

@keyframes zoom_in_kf {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.09);
  }
}

/***** CARDS *****/
.set_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 20px;
}

.card {
  position: relative;
  display: grid;
  grid-row: span 8;
  grid-template-rows: subgrid;
  gap: 10px;

  background-color: var(--l_beige);
  padding-bottom: 2vh;
}

.img_so {
  filter: grayscale(90%);
}
/** TEXT **/
.title,
.cat,
.article,
.price {
  padding: 1vh;
}
.cat,
.article {
  color: var(--l_grey);
  font-size: 120%;
}

.dis {
  position: absolute;
  padding: 2vh;
  background-color: var(--yellow);
  right: 0;
  bottom: 40px;
}

.so {
  position: absolute;
  padding: 2vh;
  background-color: var(--l_grey);
  top: 0;
  left: 0;
}

.link {
  position: absolute;
  margin-top: 5rem;
  padding: 0.5vh;
  bottom: 0;
  left: 0;
  font-family: "Sulphur Point", serif;
  font-size: 130%;
  color: var(--blue);
  font-weight: 700;
  text-decoration: none;
}

.link:hover {
  color: var(--d_grey);
  border-bottom: 2px solid var(--d_grey);
}

/**** PRODUCT ****/
.set_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;

  font-size: 70%;
}

.bold {
  font-weight: bold;
}

.order {
  position: relative;
  background-color: var(--l_beige);
  padding: 1vh;
}

.add {
  position: absolute;
  background-color: var(--l_grey);
  padding: 1rem;
  gap: 1rem;
  border-radius: 7rem;
  bottom: 5%;
  right: 5%;
}

.add:hover {
  background-color: var(--blue);
  border-radius: 7rem;
  transition: 0.8s ease;

  animation-name: zoom_in_kf;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; /*keeps the animation in its final state/form*/
}

/**** FOOTER ****/
footer {
  background-color: var(--beige);
  margin-top: 5rem;
  padding: 5rem;
  font-size: 50%;
}
.set_3 {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

/*** DESKTOP ***/
@media (min-width: 800px) {
  /*** CATEGORIES ***/
  .set_3x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  /***** CARDS *****/
  .set_container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  /**** PRODUCT ****/
  .order {
    max-width: fit-content;
  }
}
